<form #playerForm="ngForm" (ngSubmit)="onSubmit(playerForm.value)">
  <label>Name*
    <input required appInputValidator #inputRef="ngModel" name="name" id="playerName" type="text" ngModel />
  </label>
  <div *ngIf="inputRef.errors?.required && (inputRef.dirty || inputRef.touched)">
    Please create your player name
  </div>
  <div *ngIf="inputRef.errors?.nameTaken && (inputRef.dirty || inputRef.touched)">
    Sorry, this name is already in use
  </div>
  <button [disabled]="!playerForm.valid">Submit</button>
</form>
